* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;

}
.nav-links a {
    color: black;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
    padding: 40px;
}
.menu li:hover {
    background-color: lightgray;
    border-radius: 40px;
    transition: 0.4s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative;
}

.services:hover .dropdown {
    display: block;
}
.btn-select{
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: center;
    padding: 50px;
    align-content: center;
    margin: auto;
   /* border: 1px solid lightgray;*/
    border-radius: 5px;
    width: 380px;
    height: 230px;
}
h2{
    text-align: center;
}

.btn {
    background-color: dodgerblue;
    padding: 6px 18px;
    color: aliceblue;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

.btn-submit-login{
    background-color: dodgerblue;
    padding: 7px 170px;
    color: aliceblue;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}
.btn-submit-login:hover{
    background-color: royalblue;
}


.btn:hover{
    background-color: royalblue;
}
.login{
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: left;
    padding: 30px;
    align-content: center;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 480px;
    height: 400px;
}
.login p{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 8px;
 }

.form-group{
    padding: 8px;
}
.input{
    height: 40px;
    border-radius: 5px;
}

.register-form-student{
    position: center;
    top: 20%;
    left: 40%;
    text-align: left;
    padding: 30px;
    align-content: center;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 630px;
    height: 680px;
}
.register-form p{
   padding-bottom: 10px;
}
.register-form h1{
    padding: 10px;
}
.radio {
    padding-top:16px;
}