* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;

}
.nav-links a {
    color: black;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
    padding: 40px;
}
.menu li:hover {
    background-color: lightgray;
    border-radius: 40px;
    transition: 0.4s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative;
}

.services:hover .dropdown {
    display: block;
}
.btn-select{

    left: 0;
    right: 0;
    text-align: center;
    padding: 50px;
    display: inline-block;
    margin: auto;
    border-radius: 12px;
    width: 100%;
    height: 300px;
}
h2{
    text-align: center;
}

.btn {
    background-image: linear-gradient(to left, #1ca7da 0%, #0b5c8d 100%);
    padding: 6px 16px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s;
}

.btn-choice-left {
    background-color: white;
    border: 2px solid #1ca7da;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 30px;
}

.btn-choice-right {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    border: 2px solid #0b5c8d;
    border-radius: 30px;
}

.btn-choice-right:hover {
    background-color: #1ca7da;
    transition: background-color ease-in-out 0.3s;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-choice-left:hover {
    background-color: #0b5c8d;
    transition: background-color ease-in-out 0.3s;
    cursor: pointer;
    color: white;
    border: none;
}


.btn-submit-login{
    background-image: linear-gradient(to left, #1ca7da 0%, #0b5c8d 100%);
    padding: 7px 170px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;transition: 0.5s;

}
.btn-submit-login:hover{
   background-image: none;
    background-color: #2365a1;
    transition: background-color ease-in-out 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-position: right center;
    cursor: pointer;
}

.login{
    position: center;
    padding: 30px;
    align-content: center;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 470px;
    height: 380px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: all 1s ease-in-out;
}
.login p{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 0;
}

.login h1{
    text-align: center;
}

.form-group{
    padding: 8px;
}
.input{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.register-form-student{
    display: inline-block;
    text-align: left;
    padding: 30px;
    align-content: center;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: all 1s ease-in-out;

}

.register-form-property{
    position: center;
    padding: 30px;
    align-content: center;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 470px;
    height: 660px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: all 1s ease-in-out;
}
.register-form p{
    padding-bottom: 10px;
}
.register-form h1{
    padding: 10px;
}
.radio {
    padding-top:16px;
}

.account-type-page {
    text-align: center;
    padding: 20px;
}
.account-type-page p {
    padding: 20px;
}

.account-type-page h1 {
    padding: 20px;
}
